@import "tailwindcss";

.container_login {
    @apply min-h-screen w-full flex items-center justify-center bg-orange-50;
}

.login_auth {
    @apply flex w-full max-w-sm  bg-white rounded-xl shadow-lg border border-slate-200 p-6
}

.form_login {
    @apply flex w-full flex-col justify-center  gap-4
}

.botao_login {
    @apply bg-blue-400 rounded-md p-3 text-white hover:bg-blue-500 duration-300 ease-linear
}

.form_login input {
    @apply rounded-xl shadow-lg  p-3 placeholder-gray-400
}

.link_login a {
    @apply  text-blue-500 self-center 
}

.link_login {
    @apply flex place-content-between
}


